<%- include('./sidebar.ejs')  -%> 
  <main class="mt-5 pt-3 ">
    <div class="container-fluid">
      
    </div>
  </main>>
  </body>
</html>

<script src="/public/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="/public/js/jquery-3.5.1.js"></script>
<script src="/public/js/jquery.dataTables.min.js"></script>
<script src="/public/js/dataTables.bootstrap5.min.js"></script>
<script src="/public/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>