<%- include('./sidebar.ejs')  -%> 
    <main class="mt-5 pt-3 ">
      <div class="container-fluid">
          <div class="row">
            <div class="card">
              <div class="card-header bg-dark">
                <h3 class="text-uppercase text-center text-white mt-4">sound control</h3>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table id="table-room-id" class="table" style="width: 100%">
                    <thead>
                      <tr>
                        <th class="text-center">ลำดับ</th>
                        <th class="text-center">เลขห้อง</th>
                        <th class="text-center">ชื่อห้อง</th>
                        <th class="text-center">ชั้น</th>
                        <th class="text-center">สถานะ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">c22</td>
                        <td class="text-center">LAB 1</td>
                        <td class="text-center">1</td>
                      </tr>
                      <tr>
                        <td class="text-center">2</td>
                        <td class="text-center">C21</td>
                        <td class="text-center">LAB 2</td>
                        <td class="text-center">2</td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </main>
  </body>
</html>




<script src="/public/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="/public/js/jquery-3.5.1.js"></script>
<script src="/public/js/jquery.dataTables.min.js"></script>
<script src="/public/js/dataTables.bootstrap5.min.js"></script>
<script src="/public/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  var Feature = (function(){
      var dataTable = $('#table-room-id').DataTable({
        language : {emptyTable: "ไม่พบข้อมูล"},
        searching: false,
        ordering: false,
        lengthChange: false,
        paging: false,
        bAutoWidth: false,
      })
      return {
          init: function(){

          },
          onSubmitLogin: function(){
              $("#typeUsername").val;
              $("#typePassword").val;
          },
      }
  })();

  jQuery(document).ready(function(){
      Feature.onSubmitLogin();
  });
</script>