<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wireless audio transmitted systems</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <script src="/public/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/css/Style.css">
</head>
<body>

    <section class="vh-100 gradient-custom">
        <div class="container">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-100 col-md-50 col-lg-50 col-xl-10">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <h5 class=" display-6 text-center ">ระบบเสียงตามสายไร้สาย<br>Wireless audio transmitted systems</h5>
                        </div>
                        <div class="card-body bg-dark p- text-center"  style="border-radius: 1rem;">
                            <div class="text-center">
                                <img src="../public/img/Login.jpg" height="90">
                            </div>
                            <h3 class="text-center text-uppercase text-white">Sign in Accounts</h3>
                            <p class="text-center text-uppercase text-white-50 ">Please enter your signin and password!!</p>
                            <form >
                                <div class="form-outline form-row form-white card-body p-1 text-start text-white ">
                                    <label class="form-label" for="usernameX"><p class="text-uppercase h5 mb-0">username</p></label>
                                    <input type="username" id="typeUsername" class="form-control form-control-lg" placeholder="Username"/>
                                </div>
                                <div class="form-outline mb-4 form-row form-white card-body p-1 text-start text-white">
                                    <label class="form-label" for="passwordX"><p class="text-uppercase h5 mt-2 mb-0">password</p></label>
                                    <input type="username" id="typePassword" class="form-control form-control-lg" placeholder="Password"/>
                                </div>
                                <button class="text-uppercase btn btn-lg btn-primary mt-3 px-5" id="btn-login" type="submit"><p class="text-uppercase h4">Sign in</p></button>
                                <div>
                                    <p class="text-uppercase mt-3 text-white">Did you forget your password? <a href="#!" class="text-white-50 fw-bold">Reset Password</a></p>      
                                </div>
                            </form>
                        <div>
                    </div>
                </div>            
            </div>                
        </div>
    </section>
</body>
</html>

<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var Feature = (function(){
        
        return {
            init: function(){

            },
            onSubmitLogin: function(){
                $("#typeUsername").val;
                $("#typePassword").val;
            },
        }
    })();

    jQuery(document).ready(function(){
        Feature.onSubmitLogin();
    });
</script>