.gradient-custom {
    background: #5e5d5d;
    background: -webkit-linear-gradient(to right, rgb(53, 53, 53), rgb(66, 65, 65));
    background: linear-gradient(to right, rgb(97, 95, 95), rgba(70, 69, 69, 0.397))
  }
